<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GearHead - Dashboard</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Rajdhani:wght@300;400&family=Sarpanch&family=Urbanist:ital,wght@1,100&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

        <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/homepageStyle.css">
        <link rel="stylesheet" href="css/dashboardStyle.css">
    </head>    
    <body>
        <!-- <a href="/dashboard" id="homeLink"><section id="titleContainer">
            <img src="gearHead01.jpeg" id="dashboardLogo" alt="dashboard logo image">
       </section></a> -->
        <nav>
            <a href="/dashboard" id="homeLink"><section id="titleContainer">
                <img src="/images/gearHead01.jpeg" id="dashboardLogo" alt="dashboard logo image">
           </section></a>
           <section id="navDashContainer">
                <ul id="mainDash">
                    <li><a href="/dashboard" title="Dashboard"><i class="icon-dashboard"></i></a></li>
                    <li><a href="/dashboard/pointofsale" title="Point of Sale"><i class="icon-money"></i></a></li>
                    <li><a href="/dashboard/jobs" title="Jobs & Appointments"><i class="icon-tasks"></i></a></li>
                    <li><a href="/dashboard/myshop" title="My Shop"><i class="icon-building"></i></a></li>
                    <li><a href="/dashboard/customers" title="Customers"><i class="icon-group"></i></a></li>
                    <li><a href="/dashboard/reports" title="Reports"><i class="icon-bar-chart"></i></a></li>
                    <li><a href="/dashboard/appsettings" title="Settings"><i class="icon-cogs"></i></a></li>
                </ul>
            
                <section id="buttonContainer">
                    <a href="/account" id="accountLink" class="navButton">Account</a>
                    <a href="/logout" id="signout" class="navButton">Sign Out</a>
                </section>
            </section>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
        <section class="pageTitleContainer">
            <h1>Dashboard</h1>
        </section>
        <section id="dashSquares">
            <section id="activeJobs" class="dashSquare">
                <h2 class="dashTitle">Active Jobs</h2>
                <ul class="dashDataContainer">
                    <!-- display the jobs already within database -->
                    <% for(var u = 0; u < jobCollectionArray.length; u++) {%>
                        <li><a href="/dashboard/job?_id=<%= jobCollectionArray[u]._id %>">
                            <div id="jobCustomerInfo">
                                <h4><%= jobCollectionArray[u].name %></h4>
                                <span><%= jobCollectionArray[u].job_description.toUpperCase() %></span>
                                <h5><%= jobCollectionArray[u].year + ' ' + jobCollectionArray[u].make.toUpperCase() + ' ' + jobCollectionArray[u].model %></h5>
                                <h5><%= jobCollectionArray[u].engine %></h5>
                            </div>
                            <div class="jobStat">
                                <label for="jobstatus">Total: $</label>
                                <span><%= jobCollectionArray[u].job_total %></span>
                                <div class="statusContainer">
                                    <h4>Completed Status</h4>
                                    <span><%= jobCollectionArray[u].status %>%</span>
                                </div>
                            </div>
                        </a></li>
                    <% } %>
                </ul>
                <section id="dashButtonContainer">
                    <a href="/dashboard/jobs" class="dashButton">Add Job</a>
                </section>
            </section>
            <section id="upcomingJobs" class="dashSquare">
                <h2 class="dashTitle">Appointment Requests</h2>
                <ul class="dashDataContainer">
                    <li>
                        <a href="#" class="doubleLink">
                            <div id="appointmentDataContainer">
                                <h4>Customer Name</h4>
                                <h5>Date Received</h5>
                                <span>Inquiry Description</span>
                            </div>
                        </a>
                        <a href="#message" class="dashButton" id="messageButton">Message</a>
                        <a href="#quote" class="dashButton" id="quoteButton">Quote</a>
                    </li>
                </ul>
            </section>
            <section id="employees" class="dashSquare">
                <h2 class="dashTitle">Employees</h2> 
                <ul class="dashDataContainer">
                    <% for(var u = 0; u < shopDataArray[0].employeeData.length; u++) {%>
                        <li class="employeeListItem"><a href="/dashboard/employee?index=<%= u %>">
                            <div class="employeeIndInfo">
                                <h4><%= shopDataArray[0].employeeData[u].name %></h4>
                                <span><%= shopDataArray[0].employeeData[u].position.toUpperCase() %></span>
                                <h5><%= shopDataArray[0].employeeData[u].employee_type %></h5>
                                <h5><%= shopDataArray[0].employeeData[u].phone %></h5>
                                <section class="employeeJobContainer">
                                    <label for="employeeActiveJobs">Active Jobs: </label>
                                    <span id="employeeActiveJobs"><%= shopDataArray[0].employeeData[u].jobs.activeJobs %></span>
                                    <label for="employeeCompletedJobs">Completed Jobs: </label>
                                    <span id="employeeCompletedJobs"><%= shopDataArray[0].employeeData[u].jobs.completedJobs %></span>
                                </section>
                            </div>
                        </a></li>
                    <% } %>
                </ul>
                <section id="dashButtonContainer">
                    <a href="/dashboard/myshop" class="dashButton">Manage Employees</a>
                </section>
            </section>
            <section id="quickReports" class="dashSquare">
                <h2 class="dashTitle">Quick Reports</h2>
                <ul class="dashDataContainer">

                </ul>
            </section>
        </section>
 

        <footer>
            <ul>
                <li><a href="/company">Company</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
            <section id="socials">
                <ul>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>FaceBook</li>
                </ul>
            </section>
        </footer>
        <script src='/js/dashboardScripts.js'></script>
    </body>
</html>