<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GearHead - <%= jobArray.name %> Jobs</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Rajdhani:wght@300;400&family=Sarpanch&family=Urbanist:ital,wght@1,100&display=swap" rel="stylesheet">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

        <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet"> -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/homepageStyle.css">
        <link rel="stylesheet" href="/css/dashboardStyle.css">
    </head>    
    <body>
        <nav>
            <a href="/dashboard" id="homeLink"><section id="titleContainer">
                <img src="/images/gearHead01.jpeg" id="dashboardLogo" alt="dashboard logo image">
           </section></a>
           <section id="navDashContainer">
                <ul id="mainDash">
                    <li><a href="/dashboard" title="Dashboard"><i class="icon-dashboard"></i></a></li>
                    <li><a href="/dashboard/pointofsale" title="Point of Sale"><i class="icon-money"></i></a></li>
                    <li><a href="/dashboard/jobs" title="Jobs & Appointments"><i class="icon-tasks"></i></a></li>
                    <li><a href="/dashboard/myshop" title="My Shop"><i class="icon-building"></i></a></li>
                    <li><a href="/dashboard/customers" title="Customers"><i class="icon-group"></i></a></li>
                    <li><a href="/dashboard/reports" title="Reports"><i class="icon-bar-chart"></i></a></li>
                    <li><a href="/dashboard/appsettings" title="Settings"><i class="icon-cogs"></i></a></li>
                </ul>
            
                <section id="buttonContainer">
                    <a href="/account" id="accountLink" class="navButton">Account</a>
                    <a href="/login" id="signout" class="navButton">Sign Out</a>
                </section>
            </section>
        </nav>
        <section id="nameContainer" class="pageTitleContainer">
            <h1>Active Job for <strong id="custNameTitle"><%= jobArray.name %><h2 id="totalPrice">$0.00</h2></strong></h1>
            <!-- <h2 id="totalPrice">$0.00</h2> -->
        </section>
        <section id="jobSpecificDashSquares">
            <section id="updateJobForm" action="/dashboard/updatejob">
                <section id="updateJobCustContainer">
                    <h1 id="jobId" name="jobid"><%= jobArray._id %></h1>
                    <label for="customerName">Customer Name: </label>
                    <input id="customerName" type="text" name="shopName" placeholder="<%= jobArray.name %>">
    
                    <label for="jobSpecificDescription">Job Description: </label>
                    <textarea type="text" name="jobSpecificDescription" placeholder="<%= jobArray.job_description %>" id="jobSpecificDescription" rows="8" cols="80"></textarea>

                    <label for="jobHours">Labor Hours: </label>
                    <input id="jobHours" class="hoursInput" type="number" min="0.0" max="200" step="0.5" placeholder="0">
                </section>
                   
                <label for="jobSpecificCarContainer">Car Details: </label>
                <section id="jobSpecificCarContainer">
                    <label for="date-dropdown">Year</label>
                    <select id='date-dropdown' form="addJobForm" name="caryear" onclick="generateYears()" onchange="getMakes()">
                        <option value="<%= jobArray.year %>" disabled selected><%= jobArray.year %></option>
                    </select>
                    <label for="carmake">Make</label>
                    <select id="carmake" name="carmake" form="addJobForm" onchange="getModels(this.value)" required>
                        <option value="<%= jobArray.make %>" disabled selected><%= jobArray.make %></option>
                    </select>
                    <label for="carmodel">Model</label>
                    <select id="carmodel" form="addJobForm" name="carmodel" onchange="getEngines(this.value)" required>
                        <option value="<%= jobArray.model %>" disabled selected><%= jobArray.model %></option>
                    </select>
                    <label for="carengine">Engine</label>
                    <select id="carengine" form="addJobForm" name="carengine" onchange="getRepairs(); getCarImage()" required>
                        <option value="<%= jobArray.engine %>" disabled selected><%= jobArray.engine %></option>
                    </select>
                    <section id="jobSpecificDataContainer">
                        <label for="repairDropdown" id="specificRepairDropdownLabel">Repairs: </label>
                        <select id="repairDropdown" class="repairSelect" form="addJobForm">
                            <option value="<%= jobArray.repair %>" disabled selected><%= jobArray.repair %></option>
                        </select>
                        <label for="jobSpecificType">Job Type: </label>
                        <select id="jobSpecificType" class="jobTypeSelect" form="addJobForm">
                            <option value="<%= jobArray.job_type %>" disabled selected><%= jobArray.job_type %></option>
                            <option value="inspection">Inspection</option>
                            <option value="oil-change">Oil Change</option>
                            <option value="tune-up">Tune Up</option>
                            <option value="brakes">Brakes</option>
                            <option value="suspension">Suspension</option>
                            <option value="interior-repair">Interior Repair</option>
                            <option value="body-repair">Body Repair</option>
                        </select>
                        <label for="employeeassign">Employee for Job</label>
                        <select id="employeeAssign" form="addJobForm" name="employeeassign">
                            <option value="<%= jobArray.employee_assigned %>" disabled selected><%= jobArray.employee_assigned %></option>
                            <% for(var u = 0; u < shopDataArray[0].employeeData.length; u++) {%>
                                <option value="<%= shopDataArray[0].employeeData[u].name %>"><%= shopDataArray[0].employeeData[u].name %></option>
                            <% } %>
                        </select>
                    </section>
                    <!-- <button onclick="getCarImage()">Get Car Image</button> -->
                </section>
                <section id="jobSpecificPartsContainer">
                    <label for="partsList" id="partsListLabel">Parts List: </label>
                    <ul id="partsList">
                        <li>
                            <label for="part_1">1.</label>
                            <input id="part_1" name="part1_name">
                            <label for="part_1Price">$</label>
                            <input id="part_1Price" name="part1_price" class="partPrice" type="number" min="0.01" max="2500" step="0.01" placeholder="0.00">
                            <select class="partStatus" name="part1_status" id="part_1Status">
                                <option value="" disabled selected>Part Status</option>
                                <option value="pending_approval">Pending Approval</option>
                                <option value="ordered">Ordered</option>
                                <option value="received">Received</option>
                                <option value="installed">Installed</option>
                            </select>
                        </li>
                        <li>
                            <label for="part_2">2.</label>
                            <input id="part_2" name="part2_name" type="text">
                            <label for="part_2Price">$</label>
                            <input id="part_2Price" name="part2_price" class="partPrice" type="number" min="0.01" max="2500" step="0.01" placeholder="0.00">
                            <select class="partStatus" name="part2_status" id="part_2Status">
                                <option value="" disabled selected>Part Status</option>
                                <option value="pending_approval">Pending Approval</option>
                                <option value="ordered">Ordered</option>
                                <option value="received">Received</option>
                                <option value="installed">Installed</option>
                            </select>
                        </li>
                        <li>
                            <label for="part_3">3.</label>
                            <input id="part_3" name="part3_name">
                            <label for="part_3Price">$</label>
                            <input id="part_3Price" name="part3_price" class="partPrice" type="number" min="0.01" max="2500" step="0.01" placeholder="0.00">
                            <select class="partStatus" name="part3_status" id="part_3Status">
                                <option value="" disabled selected>Part Status</option>
                                <option value="pending_approval">Pending Approval</option>
                                <option value="ordered">Ordered</option>
                                <option value="received">Received</option>
                                <option value="installed">Installed</option>
                            </select>
                        </li>
                        <li>
                            <label for="part_4">4.</label>
                            <input id="part_4" name="part4_name">
                            <label for="part_4Price">$</label>
                            <input id="part_4Price" name="part4_price" class="partPrice" type="number" min="0.01" max="2500" step="0.01" placeholder="0.00">
                            <select class="partStatus" name="part4_status" id="part_4Status">
                                <option value="" disabled selected>Part Status</option>
                                <option value="pending_approval">Pending Approval</option>
                                <option value="ordered">Ordered</option>
                                <option value="received">Received</option>
                                <option value="installed">Installed</option>
                            </select>
                        </li>
                        <li>
                            <label for="part_5">5.</label>
                            <input id="part_5" name="part5_name">
                            <label for="part_5Price">$</label>
                            <input id="part_5Price" name="part5_price" class="partPrice" type="number" min="0.01" max="2500" step="0.01" placeholder="0.00">
                            <select class="partStatus" name="part5_status" id="part_5Status">
                                <option value="" disabled selected>Part Status</option>
                                <option value="pending_approval">Pending Approval</option>
                                <option value="ordered">Ordered</option>
                                <option value="received">Received</option>
                                <option value="installed">Installed</option>
                            </select>
                        </li>
                        <li>
                            <label for="part_6">6.</label>
                            <input id="part_6" name="part6_name">
                            <label for="part_6Price">$</label>
                            <input id="part_6Price" name="part6_price" class="partPrice" type="number" min="0.01" max="2500" step="0.01" placeholder="0.00">
                            <select class="partStatus" name="part6_status" id="part_6Status">
                                <option value="" disabled selected>Part Status</option>
                                <option value="pending_approval">Pending Approval</option>
                                <option value="ordered">Ordered</option>
                                <option value="received">Received</option>
                                <option value="installed">Installed</option>
                            </select>
                        </li>
                        <li>
                            <label for="part_7">7.</label>
                            <input id="part_7" name="part7_name">
                            <label for="part_7Price">$</label>
                            <input id="part_7Price" name="part7_price" class="partPrice" type="number" min="0.01" max="2500" step="0.01" placeholder="0.00">
                            <select class="partStatus" name="part7_status" id="part_7Status">
                                <option value="" disabled selected>Part Status</option>
                                <option value="pending_approval">Pending Approval</option>
                                <option value="ordered">Ordered</option>
                                <option value="received">Received</option>
                                <option value="installed">Installed</option>
                            </select>
                        </li>
                        <li>
                            <label for="part_8">8.</label>
                            <input id="part_8" name="part8_name">
                            <label for="part_8Price">$</label>
                            <input id="part_8Price" name="part8_price" class="partPrice" type="number" min="0.01" max="2500" step="0.01" placeholder="0.00">
                            <select class="partStatus" name="part8_status" id="part_8Status">
                                <option value="" disabled selected>Part Status</option>
                                <option value="pending_approval">Pending Approval</option>
                                <option value="ordered">Ordered</option>
                                <option value="received">Received</option>
                                <option value="installed">Installed</option>
                            </select>
                        </li>
                        <li>
                            <label for="part_9">9.</label>
                            <input id="part_9" name="part9_name">
                            <label for="part_9Price">$</label>
                            <input id="part_9Price" name="part9_price" class="partPrice" type="number" min="0.01" max="2500" step="0.01" placeholder="0.00">
                            <select class="partStatus" name="part9_status" id="part_9Status">
                                <option value="" disabled selected>Part Status</option>
                                <option value="pending_approval">Pending Approval</option>
                                <option value="ordered">Ordered</option>
                                <option value="received">Received</option>
                                <option value="installed">Installed</option>
                            </select>
                        </li>
                        <li>
                            <label for="part_10">10.</label>
                            <input id="part_10" name="part10_name">
                            <label for="part_10Price">$</label>
                            <input id="part_10Price" name="part10_price" class="partPrice" type="number" min="0.01" max="2500" step="0.01" placeholder="0.00">
                            <select class="partStatus" name="part10_status" id="part_10Status">
                                <option value="" disabled selected>Part Status</option>
                                <option value="pending_approval">Pending Approval</option>
                                <option value="ordered">Ordered</option>
                                <option value="received">Received</option>
                                <option value="installed">Installed</option>
                            </select>
                        </li>
                    </ul>
                </section>
                <button id="updateJob" class="dashButton" name="updatejob">Update Job</button>
            </section>
            <section id="jobRightSideContainer">
                <img src="<%= jobArray.image %>" alt="car image" id="carImage">
                <section id="quickButtonsContainer">
                    <a href="/dashboard/customer?_id=<%= jobArray.name %>" id="messageButtonJobPage" class="dashButton">Customer</a>
                    <a href="/messenger" id="messageButtonJobPage" class="dashButton">Message</a>
                    <button id="deleteJobButton" class="dashButton">Delete Job</button>
                </section>
            </section>
            
        </section>

        <footer>
            <ul>
                <li><a href="/company">Company</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
            <section id="socials">
                <ul>
                    <li>Instagram</li>
                    <li>Twitter</li>
                    <li>FaceBook</li>
                </ul>
            </section>
        </footer>
        <script src='/js/dashboardScripts.js'></script>
        <script src='/js/jobScripts.js'></script>
    </body>
</html>